/autom4te.cache/
/configure
/system.h.in

*~
*.o
*.so

/Makefile
/Rules.mk
/config.log
/config.status
/doc/Makefile
doc/ccze-cssdump.1
doc/ccze-plugin.7
doc/ccze.1
/src/Makefile
/src/ccze
/src/ccze-cssdump
/src/ccze-dump
system.h
/testsuite/Makefile
/testsuite/test-tmp/

